<div class="row justify-content-center align-with-header">
    <div class="col-md-4">
        <h1>Logout</h1>
        <div class="col-sm-6">
            <p>Would you like to log out?</p>
            <form asp-action="Logout">
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-raised btn-primary">Yes</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>